<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyDico -  Your Comprehensive Dictionary</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'fontawesomefree/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesomefree/css/brands.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesomefree/css/solid.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
