asgiref==3.7.2
backoff==2.2.1
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
cloudscraper==1.2.71
colorama==0.4.6
deckar01-ratelimit==3.0.2
deepl==1.15.0
Django==4.2.6
fontawesomefree==6.4.2
futures==3.0.5
goslate==1.5.4
idna==3.4
lxml==4.9.3
PyDictionary==2.0.1
pyparsing==3.1.1
requests==2.31.0
requests-toolbelt==1.0.0
setuptools==65.5.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.6
wordhoard==1.5.4
