<!DOCTYPE html>
<html lang="en">
    {% include "temp/include/head.html" %}

<body>

    <div class=" history-container" style="padding: 20px;">
            <h2>About Us</h2>

        <p style="padding: 20px; font-weight:400;">Welcome to MyDico - Your Comprehensive Dictionary!
            <br><br>

            We are a team of four passionate developers who came together to create this powerful and user-friendly
            dictionary application. Our goal is to provide you with a seamless and enriching experience for all your
            language needs.
        </p> <br>

            <h2>Our Vision</h2>

        <p style="padding: 20px; font-weight:400;">We believe in making language learning and
            exploration accessible to everyone. Our app is designed to be a reliable companion for students,
            professionals, and language enthusiasts alike. With a vast database of words, phrases, and meanings, we aim
            to empower you to communicate effectively and confidently.</p><br>


        <p style="padding: 20px; font-weight:400;">
                <h2>Key Features</h2>

        <ul style="padding: 20px; ">
            <li><strong>Comprehensive Dictionary:</strong> Our app provides definitions, synonyms, antonyms, and example
                sentences for a wide range of words.</li>
            <li><strong>User-Friendly Interface:</strong> We've designed the app with simplicity in mind, ensuring easy
                navigation and a hassle-free experience.</li>
            <li><strong>Word of the Day:</strong> Learn a new word every day to expand your vocabulary.</li>
            <li><strong>Favourite and History:</strong> Keep track of your favorite words and revisit recently searched
                terms.</li>
        </ul>
        <p style="padding: 20px; font-weight:400;">
                <h2>Contact Us</h2>
            <p style="padding: 20px;">
            Have questions, suggestions, or feedback? We'd love to hear from you! Feel free to reach out to us at <a style="color: blue;"
                href="mailto:mydico@gmail.com">mydico@gmail.com</a>.

            Thank you for choosing MyDico! We hope you find our dictionary app to be a valuable tool in your language
            journey.
        </p>
        </p>
        </p><br>
    </div>


</body>

</html>